.user {
    background-color: #2b3566;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}

.user img {
    width: 150px;
    height: 150px;
    border: 4px solid red;
    border-radius: 50%;
}

.location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.location svg {
    fill: #00ffe5;
}

.stats {
    display: flex;
}

.stats div {
    padding: 0 1rem;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.stats div:first-child {
    border-right: 1px solid #807e7eef;
}

.stats .numbers {
    background-color: aqua;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
}

.user a {
    text-align: center;
    background-color: blue;
    padding: 1rem;
    border-radius: 5px;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.user a:hover {
    opacity: 1;
    background-color: blueviolet;
    color: white;
}